html {
    box-sizing: border-box;
    /* the background color */
    background-color: rgba(253, 246, 227, 1);
    /* the circle color*/
    fill: rgba(88, 110, 117, 1);

}

svg {
    color: rga(0, 43, 54, 1);
}

*, *:before, *:after {
    box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

aside {
  height: 19rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(38, 139, 210, 0.9);
  padding: 0.5rem 1rem 2rem;
  align-items: baseline;
  justify-content: space-around;
}

aside > form {
  display: flex;
  flex-direction: column;
}

aside > h1 {
  align-self: flex-start;
}

#totalNodes {
  padding-left: 0.5rem;
}

.visited {
  color: red;
}

#startNode {
  fill: rgba(42, 161, 152, 1) !important;
  border: solid red 2px;
  r: 12px;
  transition: all 1s ease-out;
  transition-delay: 0.5s;
}

#endNode {
  fill: rgba(133, 153, 0, 1) !important;
  r: 12px;
  transition: all 1s ease-out;
}

