html {
  box-sizing: border-box;
  /* the background color */
  background-color: rgba(253, 246, 227, 1);
  /* the circle color*/
  fill: rgba(88, 110, 117, 1);
}

svg {
  color: rga(0, 43, 54, 1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

aside {
  height: 19rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(38, 139, 210, 0.9);
  padding: 0.5rem 1rem 2rem;
  align-items: baseline;
  justify-content: space-around;
}

aside > form {
  display: flex;
  flex-direction: column;
}

aside > h1 {
  align-self: flex-start;
}

#totalNodes {
  padding-left: 0.5rem;
}

#startNode {
  fill: rgba(38, 139, 210, 1) !important;
  r: 14px;
}

#endNode {
  fill: rgba(203, 75, 22, 1) !important;
  r: 14px;
}

.solution {
  fill: rgba(203, 75, 22, 1);
  r: 10px;
  transition: all 2s ease-out;
}

line.solution {
  stroke: rgba(108, 113, 196);
  stroke-width: 4px;
  transition: all 3s ease-out;
}

line {
  stroke: rgba(131, 148, 150, 1);
}


/* SOLARIZED  RGB          */
/* ---------  -----------  */
/* base03       0  43  54  */
/* base02       7  54  66  */
/* base01      88 110 117  */
/* base00     101 123 131  */
/* base0      131 148 150  */
/* base1      147 161 161  */
/* base2      238 232 213  */
/* base3      253 246 227  */
/* yellow     181 137   0  */
/* orange     203  75  22  */
/* red        220  50  47  */
/* magenta    211  54 130  */
/* violet     108 113 196  */
/* blue        38 139 210  */
/* cyan        42 161 152  */
/* green      133 153   0  */
